Options +FollowSymLinks
RewriteEngine On

RewriteBase /deeplinking/flash/jquery/

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule . index.html [L]